# macOS system files
.DS_Store
.Trashes

# Xcode build artifacts
DerivedData/
build/


## User settings
xcuserdata/
*.xcuserstate
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/

# Xcode version control metadata
*.xccheckout
*.xcscmblueprint

## Obj-C/Swift specific
*.hmap

# temp and conflict files
*.moved-aside
*.swp
*.tmp
*~.nib

## App packaging, Xcode output / distribution artifacts
*.ipa
*.dSYM.zip
*.dSYM
*.xcarchive
*.xcresult

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
Packages/
Package.pins
Package.resolved
*.xcodeproj

.build/
.swiftpm/

# CocoaPods (if used)
Pods/

# Xcode workspace
*.xcworkspace

# Carthage
Carthage/Checkouts
Carthage/Build/

# fastlane
#
# It is recommended to not store the screenshots in the git repo.
# Instead, use fastlane to re-generate the screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/#source-control

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output